.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;

  height: 100vh;
  justify-items: center;
  align-items: center;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.65);
}

.modal {
  height: max-content;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  animation: slide-down 300ms ease-out forwards;
}

@media (min-width: 768px) {
  .modal {
    width: max-content;
    padding: 0vh 5vw;
    left: calc(50% - 10rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}